@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,700;1,300&display=swap");

.about-section {
  background: url(../assets/black.png) no-repeat left;
  background-size: 65%;
  height: auto;
  width: auto;
  background-color: #dedede;
  overflow: hidden;
  padding: 110px;
}

.inner-container {
  width: 65%;
  float: right;
  background-color: #fdfdfd;
  padding: 55px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 12pt;
  color: #565656;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
